/*place global styles here */
@font-face {
	/* Reference name */
	font-family: 'Gotu';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Gotu-Regular.ttf');
	font-display: swap;
}

html,
body {
	@apply h-full;
}